/*manager*/

body {
  background: rgba(0, 0, 0, 0.75);
 
}



.o-Navbar{
  width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    position: fixed;
    top: 0;
    left: 0;
    color: #ffff;
    background: #006eb8;
    
}

.o-NavbarElements{
  text-align: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  list-style: none;
}

.o-NavbarElements .o-Title h1{
  font-size: 3rem;
}


.o-UserMenu{
  position: relative;
  display: inline-block;
}

.o-UserContent{
  display: none;
  position: absolute;
  background-color: white;
}

.o-UserContent a{
  color: black;
  display: block;
  padding: 16px;
  min-width: 130px;
}

.o-UserContent a:hover{
  background-color: #ffffff;
}

.o-UserMenu:hover .o-UserImage a{
  cursor: pointer;
}

.o-UserMenu:hover .o-UserContent{
  display: block;
}


.uao-2 {
  max-width: 100px;
  max-height: 40px;
  margin: 25px 30px 10px 30px;
}

.usericon {
  top: 10;
  padding-top: 15px;
  padding-right: 10px;
}

.sesionIcon {
  margin: 25px 0px 0px 900px;
  max-width: 100px;
  max-height: 40px;
}

.sub-icono {
  display: flex;
  flex: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;

  height: 70px;
  width: auto;
}

.wrapflex-tempo {
  background: #fff;
  display: flex;
  flex: wrap;
  margin: 10px 10px -10px -50px;
  padding: 10px 10px 10px 40px;
}

.timeIcon {
  background: #f0d0b4;
  margin: -10px 10px -10px -40px;
}

.time {
  height: 68px;
  width: auto;
}

.tiempo {
  justify-content: center;
  margin: 8px;
}

.wrapflex-dinero {
  background: #fff;
  display: flex;
  flex: wrap;
  margin: 10px 100px -10px 0px;
  padding: 10px 110px 10px 0px;
}

.moneyIcon {
  background: #daeaef;
  margin: -10px 10px -10px 0px;
}

.money {
  height: 64px;
  width: auto;
  margin: 10px 0px 10px 0px;
}

.Titulo {
  margin: 40px 0px 10px 0px;
}

/*timer*/
#seconds {
  font-size: 2em;
  
}

#minutes {
  font-size: 2em;
}
#colon {
  font-size: 2em;
}


