body{
    background-color: #272727;
}

.o-GeneralContainer{
    display: flex;
    flex-direction: row;
}

/*inicio navbar*/
.o-Navbar{
	width: 100%;
    height: 10%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    color: #ffff;
    background: #006eb8;
    
}

.o-NavbarElements{
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    list-style: none;
}

.o-NavbarElements .o-Title h1{
    font-size: 3rem;
}

.o-UserMenu{
    position: relative;
    display: inline-block;
}

.o-UserContent{
    display: none;
    position: absolute;
    background-color: white;
}

.o-UserContent a{
    color: black;
    display: block;
    padding: 16px;
    min-width: 130px;
}

.o-UserContent a:hover{
    background-color: #ffffff;
}

.o-UserMenu:hover .o-UserImage a{
    cursor: pointer;
}

.o-UserMenu:hover .o-UserContent{
    display: block;
}

/*fin navbar*/

.Operaciones{
    margin-top: 0px;
}


/*.BtnComprarBarco{
    margin-top: 130px;
    background-color: #006EB8;
    padding: 40px 30px 40px 30px;
    border: none;
    cursor: pointer;
}

.Botones img{
    width: 10%;
    /*margin-top: 20px;*/
    /*margin-left: 50px;
    cursor: pointer;
}

.Opciones{
    margin: -21px 0px 0px 250px;
}

.Opciones img{
    display:none;
    display: inline;
    position: relative;
    background-color: black;
    width: 95px;
    padding: 36px;
    margin: -190px 0px 0px 0px;
}

.Opciones img:hover{
    display: inline;
    background-color: #7c7c7c;
    /*padding: 55px 10px 55px 10px;
    margin: -190px 0px 0px 0px;*/
/*}

.ContenedorBotones:hover .BtnComprarBarco{
    background-color: green;
}*/


/*Inicio menu de barcos*/
.ContenedorBotones{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.o-ContenedorBotonesHover{
    display: inline-block;
}

/*.o-OptionsHover{
    display: none;
    position: absolute;
    background-color: white;
}*/


.o-TopContainer{
    display: flex;
    align-items: center;
    text-align: center;
}

.Opciones{
    align-items: center;
    text-align: center;
    margin: 1%;
}

.Opciones img{
    width: 70%;
    height: 60%;
}

.o-ShipInfo p{
    color: rgb(252, 252, 252);
    font-size: 0.8rem;
}

.o-BottomContainer{
    display: flex;
    align-items: center;
    text-align: center;
}

.BtnComprarBarco{
    background-color:#008db8;
    cursor: pointer;
    width: 50%;
    height: 15%;
}

 .o-BottomContainer .Opciones:hover{
    background-color:#06468f;
    cursor: pointer;

}

/*fin menu de barcos*/

/*.ContenedorBotones:hover .BtnComprarBarco{
    background-color: midnightblue;;
}*/

.Opciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.274);
}

.Opciones img{
    padding: 16px 20px;
   /* display: flexbox;*/
}

.Opciones a{
    margin-top: 0px;
    /*display: none;*/
}

/*.Opciones img:hover{
    background-color: #22264b;
}

.ContenedorBotones:hover .Opciones{
    display: none;
}*/

.table-border{
    border: solid;
} 



