html, body {
    margin: 0;
    padding: 0;
    
}

canvas {
    display: block;
}

#squareContainer
 {
    display: flex;
}



.chat-container {
    flex: 1;
    
}

/*estilos pop-up*/
/*#pesca-container{
    position: relative;
}

#square{
  background-color: white;
  z-index: -1;
  position: absolute;
  padding: 10px 20px 10px 20px;
  text-align: center;
  justify-content: center;
}*/

#FishingContainer{
    position: relative;
    flex: 1;
  }
  
#square{
    background-color: white;
    z-index: -1;
    position: absolute;
    padding: 10px 20px 10px 20px;
    text-align: center;
    justify-content: center;
}

