#lineChart1{
    max-height:auto;
    max-width: 200px;
    
    border-color: rgb(23, 253, 100);

    border-Width: 2;
}

#lineChart2{
    max-height:auto;
    max-width: 200px;
    

    border-Width: 2;
}

#lineChart3{
    max-height: 730px;
    max-width: 400px;
    

    border-Width: 2;
}

#lineChart4{
    max-height: 730px;
    max-width: 400px;
    

    border-Width: 2;
}

#lineChart5{
    max-height: 730px;
    max-width: 400px;
    

    border-Width: 2;
}

.flexwrap-1{
    display: flex;
    flex: row ;
    flex-grow: 0;
    
}

.flexwrap-2{
    display: flex;
    flex: row ;
    flex-grow: 0;
    
}