body{
    display: block;
    background-color: rgba(0, 0, 0, .75);
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

.wrapflex-roles{
    display: flex;
    flex: wrap;
    text-align: justify;
    justify-content: center;
}

.rol{
    margin: 10px 40px 10px 40px;
    padding: 5px 20px 5px 20px;
    
}


.wrap-thumbnail{
    display: flex;
    flex: wrap;
    margin: 0px 150px 0px 170px;
}

.T-gerente{
    margin: 10px 40px 10px 10px;
    padding: 5px 20px 5px 55px; 
    color:white;
}

.T-mecanico{
    margin: 10px 40px 10px 10px;
    padding: 5px 20px 5px 110px; 
    color:white;
}

.T-costa{
    margin: 10px 40px 10px 10px;
    padding: 5px 20px 5px 130px; 
    color:white;
}

.T-mar{
    margin: 10px 40px 10px 10px;
    padding: 5px 20px 5px 110px; 
    color:white;
}



